fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
groq
gitpython
sentence-transformers
chromadb
requests
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-core
langgraph
transformers
torch